* {
    margin: 0;
    padding: 0;
}

.parentContainer {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessContainer {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.chessBox {
    background-color: #df8e13c1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chessBox>img {
    width: 80px;
    height: 80px;
}

.nextSelected {
    border: 2px solid rgb(26, 40, 243);
}

.pawnPromotionContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    gap: 10px;
    display: none;
}

.imgContainer {
    border: 1px solid black;
    border-radius: 10px;
    transform: 0.3s;
    padding: 2px;
}

.imgContainer:hover {
    transform: scale(1.1);
    background-color: #23a86a;
}

.imgContainer>img {
    width: 80px;
    height: 80px;
}

.winnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.winnerAnnouece {
    font-size: 30px;
    font-weight: 600;
}

#resetBtn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #23a86a;
    color: white;
}

#resetBtn:hover {
    background-color: #1b7f55;
}